:root {
  --purple1: #b426fc;
  --purple2: #8900fffa;
  --purple3: #6200ff;
  --purple4: #3100ff;
  --purple5: #18131f;
  --cyan1: #00ceff;
  --cyan2: #00f5ff;
  --black: #000000;
  --white: #fff;
  --light1: #f7f7f7;
  --light2: #edede3;
  --light3: #707070;
  --light4: #242327;
  --light5: #2b2b2bd6;
  --linear: transparent;
  --scrollbar-thumb: #666668;
  --scrollbar-track: #2b2b2c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
  transition: background-color 5000s ease-in-out 0s;
}
