@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'HeroLight';
    src: url('/assets/fonts/HeroLight/HeroLight.woff2');
    src: local('Hero Light'), local('HeroLight'),
      url('/assets/fonts/HeroLight/HeroLight.woff2') format('woff'),
      url('/assets/fonts/HeroLight/HeroLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FuturaPTBook';
    src: url('/assets/fonts/FuturaPT/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
      url('/assets/fonts/FuturaPT/FuturaPT-Book.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
      url('/assets/fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FuturaPTHeavy';
    src: url('/assets/fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
      url('/assets/fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
      url('/assets/fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FuturaPTMedium';
    src: url('/assets/fonts/FuturaPT/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
      url('/assets/fonts/FuturaPT/FuturaPT-Medium.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
      url('/assets/fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FuturaPTBold';
    src: url('/assets/fonts/FuturaPT/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
      url('/assets/fonts/FuturaPT/FuturaPT-Bold.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
      url('/assets/fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FuturaPTExtra';
    src: url('/assets/fonts/FuturaPT/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
      url('/assets/fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
      url('/assets/fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .max-w-25ch {
    max-width: 25ch;
  }
  .overflow-dcode::-webkit-scrollbar {
    width: 7px;
  }
  .overflow-dcode::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }
  .overflow-dcode::-webkit-scrollbar-track-piece {
    border-color: transparent;
    border-style: solid;
    background: var(--scrollbar-track);
    background-size: 3px;
    background-repeat-x: no-repeat;
    background-position: 50%;
  }
}
